/Core/__pycache__
/Config/user_config.json
/Core/BackupUtil/__pycache__
/Core/PromptContextCollector/__pycache__
/Core/Udio/__pycache__
/Core/Udio/Effects/__pycache__
/Core/GitSubmoduleManager/__pycache__
/Core/Blender/__pycache__
/Core/KritaExport/__pycache__
